body {
    margin: 0;
    min-width: 250px;
  }

  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  .close {
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f80e0e;
    color: white;
  }

  .finished {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .finished:hover {
    background-color: #22a807;
    color: white;
  }
 
  .header {
    background-color: #001f3f;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  select {
    height: 7%;
    width: 50%;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    position: fixed;
    z-index: 999;
    background-color: #CBDBD7;
    border: 2px solid#555;
    box-shadow: 0px 0px 1px 5000px   rgba(88, 88, 88, 0.9);
  }

  input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
  }
  
  .addTaskBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .addTaskBtn:hover {
    background-color: #bbb;
  }
h2 {
    margin: 5px;
}